extends layout

block content
  .container
    .jumbotron
      h1 Crunchtime.io
      p.lead Crunchtime is where meetings are done right. Just try it. You'll love it!
      form(role="form", action="/meeting", method="post")
        .form-group
          label.sr-only(for='organizer') Your name
          input.form-control(data-bind='value: organizer', type='text', id='organizer', placeholder='Enter your name')
        .form-group
          label.sr-only(for='topic') Topic
          input.form-control(data-bind='value: topic', type='text', id='topic', placeholder='Enter a topic')
        .form-group
          label.sr-only(for='description') Description
          input.form-control(data-bind='value: description', type='text', id='description', placeholder='Enter description')
        button.btn.btn-block.btn-success(data-bind='click: startMeeting', type='submit') Start a Meeting!
